# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/ExampleProject/.vs/ExampleProject/v17/.suo
/.vs/GenericRepositoryPatternNugetPackageV1.0.1/FileContentIndex/b7f9bcab-70d3-44f4-b8ca-a4f19e60bdf7.vsidx
/.vs/GenericRepositoryPatternNugetPackageV1.0.1/FileContentIndex/read.lock
/.vs/GenericRepositoryPatternNugetPackageV1.0.1/v17
/.vs
/ExampleProject/.vs/ExampleProject/DesignTimeBuild
/ExampleProject/.vs
/ExampleProject/ExampleProject/obj/Debug/net7.0
/ExampleProject/ExampleProject/obj
/ExampleProjectAPI
/GenericRepository.Library/.vs/GenericRepository.Library/FileContentIndex/3f70ffff-5911-4c7d-b647-fcfcb060ee97.vsidx
/GenericRepository.Library/.vs/GenericRepository.Library/DesignTimeBuild/.dtbcache.v2
/GenericRepository.Library/.vs/GenericRepository.Library/FileContentIndex/eca4d3a9-e00d-4a09-bc5f-358e5aab8a34.vsidx
/GenericRepository.Library/.vs/GenericRepository.Library/v17/.suo
/GenericRepository.Library/.vs/GenericRepository.Library/v17/.futdcache.v2
/GenericRepository.Library/.vs/ProjectEvaluation/genericrepository.library.metadata.v5.2
/GenericRepository.Library/.vs/ProjectEvaluation/genericrepository.library.metadata.v7.bin
/GenericRepository.Library/.vs/ProjectEvaluation/genericrepository.library.projects.v7.bin
/GenericRepository.Library/.vs/ProjectEvaluation/genericrepository.library.projects.v5.2
/GenericRepository.Library/GenericRepository.Library/bin/Debug/net7.0/GenericRepository.Library.deps.json
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.0.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.1.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.2.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/net7.0/GenericRepository.Library.dll
/GenericRepository.Library/GenericRepository.Library/bin/Debug/net7.0/GenericRepository.Library.pdb
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.3.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.4.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.5.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.6.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.1.1.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.1.2.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.1.3.nupkg
/GenericRepository.Library/GenericRepository.Library/bin/Debug/GenericRepositoryandUnitOfWorkPattern.1.1.4.nupkg
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/ref/GenericRepository.Library.dll
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/GenericRepository.Library.AssemblyInfo.cs
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.0.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.1.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.2.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.3.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/GenericRepository.Library.AssemblyInfoInputs.cache
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/GenericRepository.Library.assets.cache
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/GenericRepository.Library.csproj.AssemblyReference.cache
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/GenericRepository.Library.csproj.BuildWithSkipAnalyzers
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/GenericRepository.Library.csproj.CoreCompileInputs.cache
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/GenericRepository.Library.dll
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/GenericRepository.Library.pdb
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.4.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.5.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.0.6.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.1.1.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.1.2.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.1.3.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/GenericRepositoryandUnitOfWorkPattern.1.1.4.nuspec
/GenericRepository.Library/GenericRepository.Library/obj/Debug/net7.0/refint/GenericRepository.Library.dll
/GenericRepository.Library/GenericRepository.Library/obj/Release/net7.0
/GenericRepository.Library/GenericRepository.Library/GenericRepository.Library.csproj
/GenericRepository.Library/GenericRepository.Library/obj/GenericRepository.Library.csproj.nuget.dgspec.json
/GenericRepository.Library/GenericRepository.Library/obj/GenericRepository.Library.csproj.nuget.g.props
/GenericRepository.Library/GenericRepository.Library/obj/project.assets.json
/GenericRepository.Library/GenericRepository.Library/obj/project.nuget.cache
/GenericRepository.Library/.vs/GenericRepository.Library/FileContentIndex/86a359d0-9a63-4c2f-8cce-4f88345f3315.vsidx

/GenericRepository.Library/GenericRepository.Library.sln
/GenericRepository.Library/.vs/GenericRepository.Library/FileContentIndex/1edd5d11-add2-4d61-bddc-3641fb875d7c.vsidx
/GenericRepository.Library/Test/GenericRepository.UnitTest/bin/Debug/net7.0/CoverletSourceRootsMapping
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/Debug/net7.0/GenericRepository.UnitTest.AssemblyInfo.cs
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/Debug/net7.0/GenericRepository.UnitTest.AssemblyInfoInputs.cache
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/Debug/net7.0/GenericRepository.UnitTest.assets.cache
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/Debug/net7.0/GenericRepository.UnitTest.csproj.AssemblyReference.cache
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/Debug/net7.0/GenericRepository.UnitTest.GeneratedMSBuildEditorConfig.editorconfig
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/Debug/net7.0/GenericRepository.UnitTest.GlobalUsings.g.cs
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/GenericRepository.UnitTest.csproj.nuget.dgspec.json
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/GenericRepository.UnitTest.csproj.nuget.g.props
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/GenericRepository.UnitTest.csproj.nuget.g.targets
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/project.assets.json
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/project.nuget.cache
/GenericRepository.Library/.vs/GenericRepository.Library/FileContentIndex
/GenericRepository.Library/.vs/GenericRepository.Library/v17/TestStore/0
/GenericRepository.Library/Test/GenericRepository.UnitTest/bin/Debug/net7.0/cs
/GenericRepository.Library/Test/GenericRepository.UnitTest/bin/Debug/net7.0/de
/GenericRepository.Library/Test/GenericRepository.UnitTest/bin/Debug/net7.0
/GenericRepository.Library/Test/GenericRepository.UnitTest/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/GenericRepository.Library/Test/GenericRepository.UnitTest/obj/Debug/net7.0
/GenericRepository.Library/Test/GenericRepository.UnitTest/GenericRepository.UnitTest.csproj
